@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* *{
    font-family: "Poppins", sans-serif;
} */
*{
  margin: 0;
  padding: 0;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Events_Crad_Main_blk {
  position: relative;
  margin-bottom: 0 0 4px;
}

.Events_Label {
  position: absolute;
  top: 8px;
  right: 0;
  padding: 5px 15px;
  background: #ff9922;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px 0px 0px 20px;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.Events_Crad_Main_blk img {
  width: 100%;
  object-fit: cover;
  height: 130px;
  border-radius: 5px 5px 0 0;
}

.Events_Body_section {
  padding: 15px;
}
.Events_Body_section h5 {
  font-weight: 500;
  font-size: 15px;
  color: #4d4d4d;
  line-height: 18px;
}
.Events_Body_Top_section {
  display: flex;
  justify-content: space-between;
}

.Events_Body_Top_section h4 {
  color: #81c14b;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
}
.Events_Body_Top_section h5 {
  color: #4d4d4d;
  font-weight: 400;
  font-size: 10px;
  line-height: 21px;
}
.Events_Body_Top_section p {
  font-size: 9px;
  line-height: 10px;
  color: #808080;
  font-weight: 400;
  margin-bottom: 1rem;
  

}
.Events_Body_section > img {
  width: 1.5rem;
  height: auto;
  aspect-ratio: 1/ 1;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  margin-left: -5px;
  box-sizing: content-box;
  background-color: white;
  padding: 2px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.Events_Body_section > span {
  font-size: 15px;
  line-height: 10px;
  color: #808080;
  font-weight: 400;
}
.img1 {
  z-index: 0;
}
.img2 {
  z-index: 1;
}
.img3 {
  z-index: 2;
}
.img4 {
  z-index: 3;
}

.Events_Menu {
  background: #f6f6f6;
  border-radius: 80px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
